@import "tailwindcss";
@import "@dejesumensaje/converge-ds-experimental/styles.css";

body {
  font-family: "Open Sans", sans-serif;
}

@layer base {
  :root {
    --color-brand: #003A5D;
    --color-group-pricing-bg: #fdf1ef;
    --color-group-pricing-header: #fbe6e2;
    --color-group-impact-bg: #eef5f9;
    --color-group-impact-header: #e3eef6;
  }
}
